<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebSocketsCmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="console" type="WebSocketsCmd.CustomConsoleTraceListener, WebSocketsCmd, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <WebSocketsCmd.Properties.Settings>
      <setting name="WebRoot" serializeAs="String">
        <value>C:\Projects\WebGrid\WebGrid1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>80</value>
      </setting>
    </WebSocketsCmd.Properties.Settings>
  </userSettings>
</configuration>
