<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg"/>
      <mimeMap fileExtension=".bmp" mimeType="image/bmp"/>
      <mimeMap fileExtension=".png" mimeType="image/png"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <mimeMap fileExtension=".map" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>